/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/

.front {
	position: absolute;
	z-index: 1;
	-webkit-backface-visibility: hidden;
}

.back {
	position: relative;
 	-webkit-transform: rotateY(-180deg);
	-webkit-backface-visibility: hidden;
}

.portfolio-item{
    -webkit-transition: all 1s;
    -webkit-transform-style: preserve-3d;
    position: relative;
    transform: perspective( 600px );
	perspective-origin: 25% 75%;
}

.portfolio-item:hover{
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
}




